<h1>New Missioin Form</h1>

<%=form_for @mission do |f| %>
    <%= f.label :name_of_mission %>
    <%= f.text_field :name %>

    <%= f.label :Scientist %>
    <%= f.collection_select :scientist_id, @scientists, :id, :name %>

    <%= f.label :Planet %>
    <%= f.collection_select :planet_id, @planets, :id, :name %>



    <%= f.submit %>
    <%end%>
